h1.page-title {
  display: none;
}

h1.probo-header {
  font-family: "Helvetica Neue", "Helvetica", Arial, Sans-serif;
  font-weight: bold;
  font-size: 24pt;
  padding: 0px;
  margin: 0px;
}

h2.headline {
  font-size: 24pt;
  padding: 0px;
  color: #000000;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
}

.breadcrumb {
  display: none;
}
p.line-item {
  font-size: 12pt;
  color: #800000;
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  padding: 0px;
  margin: 0px;
}

p.line-item a {
  color: #800000;
}

.build {
  font-family: "Helvetica Neue", "Helvetica", Arial, Sans-serif;
  font-size: 11pt;
  color: #800000;
}

p.repository,
p.build-url,
p.line-item,
p.pull-request-url {
  padding: 0px;
  margin: 0px;
  color: #000000;
}

p.repository a,
p.repository a:hover,
p.repository a:visited,
p.build-url a,
p.build-url a:hover,
p.build-url a:visited,
p.line-item a,
p.line-item a:hover,
p.line-item a:visited,
p.pull-request-url a,
p.pull-request-url a:hover,
p.pull-request-url a:visited {
  color: #800000;
}
