<h1>{{ build_id }}</h1>
{{ plugin }} - {{ event_name }}<hr />
<pre style="background-color: #000000; font-family: menlo, courier, monospace; font-size: 12pt; padding: 20px; color: #FFFFFF;">{{ body }}</pre>
